name: .NET Core Desktop

on:
  push:
    branches: [ "master", "dev" ]
  pull_request:
    branches: [ "master", "dev" ]

jobs:

  build:

    strategy:
      matrix:
        configuration: [Debug, Release]

    runs-on: windows-latest

    env:
      Solution_Name: Lottery.sln
      Test_Project_Path: Lottery.csproj
      Wap_Project_Directory: .\
      Wap_Project_Path: .\

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Install .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Setup MSBuild.exe
      uses: microsoft/setup-msbuild@v2

    - name: Execute unit tests
      run: dotnet test

    - name: Restore the application
      run: msbuild $env:Solution_Name /t:Restore /p:Configuration=$env:Configuration
      env:
        Configuration: ${{ matrix.configuration }}

    - name: Decode the pfx
      run: |
        $pfx_cert_byte = [System.Convert]::FromBase64String("${{ secrets.Base64_Encoded_Pfx }}")
        $certificatePath = Join-Path -Path $env:Wap_Project_Directory -ChildPath GitHubActionsWorkflow.pfx
        [IO.File]::WriteAllBytes("$certificatePath", $pfx_cert_byte)

    - name: Create the app package
      run: msbuild $env:Wap_Project_Path /p:Configuration=$env:Configuration /p:UapAppxPackageBuildMode=$env:Appx_Package_Build_Mode /p:AppxBundle=$env:Appx_Bundle /p:PackageCertificateKeyFile=GitHubActionsWorkflow.pfx /p:PackageCertificatePassword=${{ secrets.Pfx_Key }}
      env:
        Appx_Bundle: Always
        Appx_Bundle_Platforms: x86|x64
        Appx_Package_Build_Mode: StoreUpload
        Configuration: ${{ matrix.configuration }}

    - name: Remove the pfx
      run: Remove-Item -path $env:Wap_Project_Directory\GitHubActionsWorkflow.pfx

    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: Executable File (${{ matrix.configuration }})
        path: ${{ env.Wap_Project_Directory }}\bin\${{ matrix.configuration }}\Lottery.exe

    - name: Run the generated program
      run: |
        Start-Process -FilePath ${{ env.Wap_Project_Directory }}\bin\${{ matrix.configuration }}\Lottery.exe -PassThru | Wait-Process

    - name: Simulate 'Generate' button click
      run: |
        Add-Type -AssemblyName System.Windows.Forms
        [System.Windows.Forms.SendKeys]::SendWait("%{TAB}")  # Ensure the application is in focus
        Start-Sleep -Seconds 2
        for ($i = 0; $i -lt 5; $i++) { [System.Windows.Forms.SendKeys]::SendWait("{TAB}") }  # Tab 5 times to focus on 'Generate' button
        Start-Sleep -Seconds 1
        [System.Windows.Forms.SendKeys]::SendWait("{ENTER}")  # Simulate 'Generate' button click
      continue-on-error: true

    - name: Check for crashes
      run: |
        if ($LASTEXITCODE -ne 0) {
          Write-Error "The application crashed after clicking the 'Generate' button."
          exit 1
        } else {
          Write-Output "The application did not crash after clicking the 'Generate' button."
        }
